{{ define "main" }}

<main id="main">
  <section id="downloads-header">
    <div class="container">
      <div class="center">
        <h1 id="title">{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </div>
  </section>
  <div class="container">
    {{ $pref_os_order := .Site.Params.downloads_os_order }}

    {{ range $each_os := $pref_os_order }}

    {{ $variants := (slice $each_os (title $each_os) (replace $each_os "." "-") (replace (title $each_os) "." "-") (replace (title $each_os) "-" ".")) }}

    {{ $each_os_downloads := where $.Site.RegularPages "Params.os" "in" $variants }}

    {{ $osvendor := "openSUSE"}}
    
    <section id="{{ $each_os }}">
      <hr>
      <div class="col-sm-4">
        <h3 class="built-on"> Built on {{ $osvendor }} {{ ( title $each_os ) }}</h3>
        <hr>
      </div>
    </section>

    {{ range $index,$page := sort $each_os_downloads "Params.arch" "desc"}}

    {{ $page.Store.Set "formatClass" (print "feature" (add (mod $index 2) 1)) }}

    {{ $basepath := (print $page.Site.Params.downloadsserver $page.Site.Params.downloadsbaseurl) }}

    {{ $osname := lower (replaceRE "[0-9|.]*" "" $page.Params.os ) }}

    {{ $osnumber := (replaceRE "^[a-z|A-Z]*" "" $page.Params.os ) }}

    {{ $page.Store.Set "filepath" (print $basepath $osname "/" $osnumber "/" $page.Params.arch ) }}

    {{ $file := (print "Rockstor-" $page.Params.os "-" $page.Params.machine "." $page.Params.arch "-" $page.Params.rpm_version "-" $page.Params.rpm_release) }}

    {{ if eq $page.Params.machine "generic" }}

    {{ $page.Store.Set "filename" (print $file ".install.iso") }}

    {{ else }}

    {{ if eq $page.Params.machine "ARM64EFI"}} {{ $page.Store.Set "filename2" (print $file ".qcow2")}} {{ end }}

    {{ $page.Store.Set "filename" (print $file ".raw.xz") }}

    {{ end }}

    {{ if (and (ne $page.Params.os "diy") (ne $page.Params.os "rpm") ) }}

    {{ $page.Render "download-entry"}}

    {{ else }} {{partial "diy-installer" $page}} {{ end }}

    {{ end }}

    {{ end }}
  </div>
</main>

{{ end }}